<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <connectionStrings>
    <add name="VehiclePolicyConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_Policy;Integrated Security=SSPI;" providerName="System.Data.EntityClient" />
    <add name="VehiclePolicyConnectionStringReadOnly" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_Policy;Integrated Security=SSPI;ApplicationIntent=ReadOnly;" providerName="System.Data.EntityClient" />
    <add name="VehiclePolicyHistoryConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_PolicyHistory;Integrated Security=SSPI;" providerName="System.Data.EntityClient" />
    <add name="VehiclePolicyHistoryConnectionStringReadOnly" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_PolicyHistory;Integrated Security=SSPI;ApplicationIntent=ReadOnly;" providerName="System.Data.EntityClient" />
    <add name="ClientConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_Client;Integrated Security=SSPI;" providerName="System.Data.EntityClient" />
    <add name="ClientConnectionStringReadOnly" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_Client;Integrated Security=SSPI;ApplicationIntent=ReadOnly;" providerName="System.Data.EntityClient" />
    <add name="ClientHistoryConnectionString" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_ClientHistory;Integrated Security=SSPI;" providerName="System.Data.EntityClient" />
    <add name="ClientHistoryConnectionStringReadOnly" connectionString="Data Source=.\SQL2012;Initial Catalog=PolicyAttended_ClientHistory;Integrated Security=SSPI;ApplicationIntent=ReadOnly;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <!-- SDC account related settings -->
    <add key="SDCUserName" value="DEV\SVC-Node-Service-Web" />
    <add key="SDCPassword" value="jEveXu2US7APusus" />
    <!-- SDC account related settings -->
    <!-- Oasis Reference Services -->
    <add key="OasisReferenceServiceBaseUrl" value="https://oasisreferenceapiqa.ext.geicoddc.net" />
    <add key="OasisReferenceServicesUsername" value="dev\SVC-Node-Service-Web" />
    <add key="OasisReferenceServicesPassword" value="jEveXu2US7APusus" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <authentication mode="None" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.CommonDomain.Entities" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.PolicyDomain.Entities" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.ClientDomain.Entities" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="StructureMap" publicKeyToken="e60ad81abae3c223" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.6.4.0" newVersion="2.6.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.0.0" newVersion="4.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.CommonDomain.DataAccess" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.PolicyDomain.DataAccess" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Geico.Applications.Data.ClientDomain.DataAccess" publicKeyToken="04496279b6f79aed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.7.0.0" newVersion="4.7.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <wsHttpBinding>
        <!-- This configuration is installed with the Applications.Foundation.EventProcessing package -->
        <!-- Uncomment this endpoint for use in web.config or app.config files for your application. Leave this entry commented out for the LoggingService, StagingService or Testability packages.-->
        <binding name="wsHttpBindingConfiguration" maxReceivedMessageSize="16384" transactionFlow="true">
          <security mode="None"/>
        </binding>
      </wsHttpBinding>
    </bindings>
    <client>
      <!-- This configuration is installed with the Applications.Foundation.EventProcessing package -->
      <!-- The address below will be the local address of the target web service and will vary by solution and IIS or IIS Express -->
      <!-- Uncomment this endpoint for use in web.config or app.config files for your application. Leave this entry commented out for the LoggingService, StagingService or Testability packages.-->
      <endpoint name="BusinessEventService"
              address="http://localhost:61116/Staging.svc"
              binding="wsHttpBinding"
              bindingConfiguration="wsHttpBindingConfiguration"
              contract="Geico.Applications.Foundation.EventProcessing.IBusinessEventService"/>
    </client>
  </system.serviceModel>
  <log4net>
    <appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\BusinessEvents.log " />
      <appendToFile value="true" />
      <rollingStyle value="Date" />
      <datePattern value="yyyyMMdd" />
      <layout type="log4net.Layout.PatternLayout">------------------- %date ------------------- %newline%message%newline</layout>
    </appender>
    <logger name="Geico.Applications.Foundation.EventProcessing">
      <appender-ref ref="RollingLogFileAppender" />
      <level value="ALL" />
    </logger>
  </log4net>
</configuration>